body {
  margin: 0;
}
.debug {
  border: 1px solid red;
}
ul.links-list {
  display: flex;
  list-style: none;
}
li.link-item {
  margin: 0 1%;
}
li.link-item a {
  text-decoration: none;
  font-family: Arial, Verdana;
  padding: 4px;
  color: #fff;
  background-color: #000;
}
li.link-item a:hover{
  background-color: #888;
  color: #000;
}
li.link-item a.active{
  background-color: #fff;
  color: #000;
}

div#main {
  width: 320px;
  height: 320px;
  margin: auto;
}
