body {
  margin: 0;
}
.debug {
  border: 1px solid red;
}
ul.links-list {
  list-style: none;
}
li.link-item {
  display: flex;
  padding: 0;
  margin: 0;
}

div#main {
  width: 320px;
  height: 320px;
  margin: auto;
}
